.git
.gitignore
.env
.env.*

node_modules
**/node_modules
app/web/node_modules
app/web/.next
**/.next

__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
**/.pytest_cache
.venv
**/.venv
venv
**/venv
**/prisma-cache

cache
app/server/cache
app/server/data/*.csv
app/server/data/*.kml
app/server/data/*.kmz
app/server/data/*.log

*.sqlite
*.sqlite3
*.db
npm-debug.log*
app/web/proxy-error.log
